/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Import Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Root Variables */
:root {
  --color-primary: #34c94b; /* Green from Figma */
  --color-black: #121212;
  --color-white: #ffffff;
}

/* Global Body Styling */
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
}
