.button {
  background-color: var(--color-black);
  color: var(--color-primary);
  border: none;
  border-radius: 12px;
  padding: 10px 16px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}
