.card {
  width: 159px;
  border-radius: 10px;
  overflow: hidden;
}

.imageWrapper {
  position: relative;
  height: 205px;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chip {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: black !important;
  color: white !important;
}

.bottom {
  background: white;
  padding: 8px;
}
