.hero {
  background-color: var(--color-black);
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0 32px;
}

.hero h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}
