.navbar {
  background-color: var(--color-primary);
  height: 74px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 0; /* REMOVE 16px */
  padding-right: 16px;
}
