.navbar {
  background-color: var(--color-primary);
  height: 74px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  position: relative;
}
