.navbar {
  background-color: var(--color-primary);
  height: 74px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 16px; /* This gives ~16px left spacing */
}

.navbar img {
  display: block;
  margin-left: -18px;
}
