.navbar {
  background-color: var(--color-primary);
  height: 74px;
  width: 100%;
  padding-left: 16px !important;
  padding-right: 16px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  display: block;
  margin-left: -18px;
}
