.navbar {
  background-color: var(--color-primary);
  height: 74px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  position: relative;
}
